<h1>Editar Página Sobre</h1>
<form method="POST" action="/admin/sobre">
  <% conteudo.forEach(c => { %>
    <div>
      <label>Texto (ID <%= c.id %>)</label><br>
      <textarea name="<%= c.id %>"><%= c.texto %></textarea>
    </div>
  <% }) %>
  <button type="submit">Salvar</button>
</form>
