<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Vinícola - Início</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header><h2>Lágrimas de Baco</h2></header>
  <main>
    <h1><%= conteudo.titulo %></h1>
    <p><%= conteudo.texto %></p>
    <button><%= conteudo.botao %></button>
  </main>
  <footer><p>© 2025 Lágrimas de Baco</p></footer>
</body>
</html>
