<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Produtos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header><h2>Lágrimas de Baco</h2></header>
  <main>
    <% conteudo.forEach(p => { %>
      <div>
        <img src="<%= p.imagem %>" alt="">
        <h3><%= p.titulo %></h3>
        <p><%= p.preco %></p>
      </div>
    <% }) %>
  </main>
  <footer><p>© 2025 Lágrimas de Baco</p></footer>
</body>
</html>
