<link rel="stylesheet" href="/css/painel.css">
<h1>Painel Admin</h1>
<ul>
  <li><a href="/admin/inicio" class="items">Editar Início</a></li>
  <li><a href="/admin/sobre" class="items">Editar Sobre</a></li>
  <li><a href="/admin/produtos" class="items">Editar Produtos</a></li>
  <li><a href="/admin/contato" class="items">Editar Contato</a></li>
  <li><a href="/login/logout" class="items"> LogOut</a></li>
</ul>