<h1>Painel Admin</h1>
<ul>
  <li><a href="/admin/inicio">Editar Início</a></li>
  <li><a href="/admin/sobre">Editar Sobre</a></li>
  <li><a href="/admin/produtos">Editar Produtos</a></li>
  <li><a href="/admin/contato">Editar Contato</a></li>
</ul>
